{% extends "base.html" %} {% block content %}
<h2>Ajouter un thème</h2>

<form method="POST" action="{{ url_for('admin.add_theme') }}">
  <label for="nom">Nom :</label>
  <input type="text" id="nom" name="nom" required />

  <label for="matiere">Matière associée :</label>
  <select name="matiere_id" id="matiere" required>
    {% for matiere in matieres %}
    <option value="{{ matiere._id }}">{{ matiere.nom }}</option>
    {% endfor %}
  </select>

  <button type="submit">Ajouter</button>
</form>

<a href="{{ url_for('admin.list_themes') }}">Retour à la liste des thèmes</a>
{% endblock %}
