<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Connexion</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h1>Connexion utilisateur</h1>

    {% if message %}
    <p style="color: red">{{ message }}</p>
    {% endif %}

    <form method="POST">
      <input type="email" name="username" placeholder="Votre email" required />
      <input
        type="password"
        name="password"
        placeholder="Mot de passe"
        required
      />
      <button type="submit">Se connecter</button>
    </form>

    <a href="{{ url_for('auth.register') }}">Créer un compte</a>
  </body>
</html>
